[submodule "vendors/nodetk"]
	path = vendors/nodetk
	url = git://github.com/AF83/nodetk.git
[submodule "vendors/node-base64"]
	path = vendors/node-base64
	url = git://github.com/tdebarochez/node-base64.js.git
